body {
  p, li, a, div.foldername-wrapper {
    font-family: "JetBrains Mono", monospace;
  }

  .content.cm-s-obsidian {
    //h1, h2, h3, h4 {
    //  font-family: "JetBrains Mono", monospace;
    //}
    h1 {
      font-family: "JetBrains Mono", monospace;
      font-size: 2em;
      font-weight: bolder;
    }

    h2 {
      font-family: "JetBrains Mono", monospace;
      font-size: 1.5em;
      font-weight: bolder;
    }

    h3 {
      font-family: "JetBrains Mono", monospace;
      font-size: 1.17em;
      font-weight: bolder;
    }

    h4 {
      font-family: "JetBrains Mono", monospace;
      font-size: 1em;
      font-weight: bolder;
    }

  }

  div.navbar-inner.a, nav.filetree-sidebar.a.h1 {
    font-family: "JetBrains Mono", monospace;
  }
}

@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap');
@font-face {
  font-family: 'D2Coding';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_three@1.0/D2Coding.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}